<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-label item-left>传阅</ion-label>
      <ion-checkbox primary large item-right (click)="selectitemsfn()" *ngIf="isnull" [(ngModel)] ="toreadcheckbox"></ion-checkbox>
      <a item-right (click)="selectitemsfn()" *ngIf="selectitems && !isnull"><ion-icon name="reorder"></ion-icon></a>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="!openitems">
      <span *ngFor="let sel of selectusers | keys">
        <button small class="withclosebadge"  *ngIf="selectusers[sel.key]"  (click)="del(sel.key)">
          {{sel.key | keytoparams:1}} |
          <ion-icon name="close" item-right></ion-icon>
        </button>
      </span>
  </ion-card-content>
</ion-card>
<!----------------------------------------------组件选择器--------------------------------------------------->
<my-select [selectitems] = "selectitems"  [selectusers] = "selectusers" *ngIf="openitems" (onSelect) = "onSelect($event)"></my-select>
<!----------------------------------------------------------------------------------------------------------->
