.toolbar{
  .toolbar-background{
    background : #135cc2 !important;
    background-color : #135cc2 !important;
  }
  .toolbar-title,.ion-md-menu{
    color:#fff;
  }
}
.header{
  position: relative;
}
.ab-icon-circle{
  position: absolute;
  right: 1rem;
  top:0.5rem;
  color : #fff;
  background-color : transparent !important;
  box-shadow: none !important;
}
.col-right{
  float:right;
}

