<div class="alert-page">
  <ion-content>
    <ion-card>
      <ion-item-list *ngFor="let items of selectitems">
        <ion-list-header>
          <ion-label item-left small (click)="nextselectfn(items.groupid)">{{items.groupname}}</ion-label>
          <ion-checkbox item-right dark [(ngModel)] ="nextcheckbox[items.groupid]" (ngModelChange)="selectall(items.groupid,$event)"></ion-checkbox>
        </ion-list-header>
        <div  *ngIf="nextselect && nextselect[items.groupid] && nextselect[items.groupid]['isopen']">
          <ion-item *ngFor="let useritem of nextselect[items.groupid]">
            <ion-label>{{useritem.username}}</ion-label>
            <ion-checkbox dark [(ngModel)] = "selectusers[useritem.userid+'@'+useritem.username]"></ion-checkbox>
          </ion-item>
        </div>
      </ion-item-list>
      <ion-item-list>
        <ion-item>
          <button small item-right (click)="sureselectfn()" >确定</button>
        </ion-item>
      </ion-item-list>
    </ion-card>
  </ion-content>
</div>

