<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageparam.operating}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <button small item-right (click)="Submitfn()">提交</button>
  </ion-item>
  <!----------------------------------------------意见输入框--------------------------------------------------->
  <my-options [myoptions] = "options" [umopinion] = "umopinion" (onoptions)="onoptions($event)"></my-options>
  <!----------------------------------------------------------------------------------------------------------->
  <!---------------------------------------------- 操作项组件 --------------------------------------------------->
  <div *ngIf="nodelist">
    <div *ngFor="let node of nodelist | keys">
    <tosbread-com [defaultuser] = "node.value.defaultuser" [departmentparam] = "node.value.departmentparam" [item] = "node.value.item" (onToSbRead)="onToSbRead($event)" ></tosbread-com>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------------->
  <!---------------------------------------------- 传阅组件 --------------------------------------------------->
  <tosbread-com (onToSbRead)="onToSbRead($event)" *ngIf="issbread"></tosbread-com>
  <!----------------------------------------------------------------------------------------------------------->
</ion-content>
