.withclosebadge{
  padding-left : 1rem;
  ion-icon{
    font-size : 0.8em !important;
    color : #000;
    margin : auto 0 auto auto ;
  }
}
.alert-page{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(100,100,100,.8);
}
//options page
.card-hr{
  border-bottom : 1px solid rgba(100,100,100,.1);
  .fright{
    float : right;
  }
}
.small-bx{
  height : 8rem;
}

